<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css"></style>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
    <div class="container">
      <div class="box" id="login-box">
        <div class="circle-icon">
        </div>
        <div class="title">Member Login</div>
        <form>
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <button type="submit">LOGIN</button>
        </form>
        <div class="forget"><a href="#">Forgot Password?</a></div>
      </div>

      <div class="box" id="register-box">
        <div class="circle-icon">
        </div>
        <div class="title">Register</div>
        <form action="/register" method="post">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="password" name="password-confirm" placeholder="Confirm Password">
          <button type="submit">REGISTER</button>
        </form>
        <div class="forget"><a href="#">Member Login</a></div>
      </div>
    </div>
</body>
</html>